.bicard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;

}

.bicard-container > img {
    width: 70px;
    margin-right: 10px;
    border-radius: 50%;
}

.bicard-container h4 {
    margin-bottom: 15px;
}

.bicard-container > div {
    display: flex;
    justify-items: flex-start;
}